name: Check Links and Generate HTML

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 6 * * *'  # 每天的6点运行

jobs:
  check_links:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyyaml requests

    - name: Configure Git
      run: |
        git config --global user.email "shangskr@github.com"
        git config --global user.name "shangskr"

    - name: Remove existing index.html if exists
      run: |
        rm -f index.html

    - name: Run Python script to check links and generate HTML
      run: python check_links.py

    - name: Add changes to Git
      run: |
        git add index.html

    - name: Check if there are changes to commit
      id: git-check
      run: |
        git diff-index --quiet HEAD || echo "Changes detected"

    - name: Commit and push generated HTML file
      if: steps.git-check.outputs.stdout == 'Changes detected'
      run: |
        git commit -m "Generate index.html"
        git push https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/${{ github.repository }} main
